/* 
    Document   : style
    Created on : Sep 8, 2012, 7:26:24 PM
    Author     : mike_newell
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

@media screen and (max-device-width: 480px){
/*--- iPhone only CSS here ---*/

    body {
        -webkit-text-size-adjust:none;
        font-family:Helvetica, Arial, Verdana, sans-serif;
        /*padding:5px;*/
        margin: 0;
        padding: 0;
        width: 320px;
        height: 480px;
    }
    
    div {
        clear:both!important;
        display:block!important;
        width:100%!important;
        float:none!important;
        margin:0!important;
        padding:0!important;
    }
    
    #wrap {
        width: 320px;
        height: 480px;
        background: url(../images/background-light.png) scroll no-repeat;
        position: relative;
    }
    
    #cheetopult {
        position: absolute;
        top: -30px;
        left: 0;
        width: 320px;
        height: 480px;
        background: url(../images/cata-one.png) scroll no-repeat;
    }
    
    #cheetos {
        position: absolute;
        top: 385px;
        left: 0;
    }
    
    #cheetoSelectGreen {
        top: 0;
        left: 28px;
    }
    
    #cheetoSelectOrange {
        top: 0;
        left: 243px;
    }
    
    #cheetoSelectRed {
        top: 0;
        left: 96px;
    }
    
    #cheetoSelectYellow {
        top: 0;
        left: 170px;
    }
    
    .cheeto {
        display: block;
        position: absolute;
        width: 73px;
        height: 80px;
    }
    
    .green {
        background: url(../images/green.png) scroll no-repeat;
    }
    
    .red {
        background: url(../images/red.png) scroll no-repeat;
    }
    
    .yellow {
        background: url(../images/yellow.png) scroll no-repeat;
    }
    
    .orange {
        background: url(../images/orange.png) scroll no-repeat;
    }

}