/* 
    Document   : style-desktop
    Created on : Sep 9, 2012, 10:53:43 PM
    Author     : mike_newell
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    background: black;
}

#wrap {
    width: 1024px;
    margin: 50px auto;
}